body{
    background-color:bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}
.titulo {
    font-weight: bold;
    font-size: 3rem;
}

.container{
    width: 100%;
    gap: 25px;
    display: flex;
    flex-direction: row;
}

.preCasamento, .cerimonia, .diaNoiva, .luaMel, .festa {
    width: 50%;
    font-size: 100%;
    text-align: center;
}

.preCasamento { 
    border-radius: 25%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.030);
}

.cerimonia {
    border-radius: 25%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.030);

}

.diaNoiva {
    border-radius: 25%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.030);
}

.luaMel {
    border-radius: 25%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.030);
}

.festa {
    border-radius: 25%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.030);
}

img{
    width: 50%;
    size: 20%;
    margin: 5%;
}